@import "config/colors"

body
  background-color: #f8f8f8
  color: $darkgrey
  font-family: 'Roboto'
  text-align: center

h1, h2
  font-family: 'Lobster'
  color: $red
  border-bottom: 2px solid $red

button
  background: none
  border: none
  height: inherit
  font-size: inherit

button:focus, input:focus
  outline: 0

#container
  width: 320px
  margin: auto
  margin-top: 50px

.fa
  line-height: 34px